@media (max-width:580px){
    header nav{
        flex-direction: column;
        padding-top: 15px;
    }
    header .text h1{
        font-size: 30px;
    }
    
    header .text h2{
        font-size: 20px;
    }
    
    header .text p{
        font-size: 15px;
        color: rgb(17, 202, 17);
    }
    
}
@media (max-width: 440px) {
    header nav ul li a{
        padding: 15px 10px;
        font-size: 15px;
        
    }
    
    hwader nav .logo{
       margin-bottom: 15px; 
    }
}