* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    min-width: 340px;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: auto;
    padding: 0 15px;
}

/* header start */
/* ************************************************* */
header {
    background: url(../img/index.html.png) no-repeat center/cover;
    height: 100vh;
}

header nav .logo {
    width: 160px;
    height: 38px;
    background: rgb(99, 194, 4);
    border-radius: 8px;
    border: 3px solid rgb(8, 168, 8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 16px;
    font-size: 24px;
    color: aliceblue;
    text-transform: uppercase;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header nav ul {
    display: flex;
}

header nav ul li a {
    font-size: 20px;
    color: rgb(109, 206, 12);
    padding: 37px 11px 29px 14px;
    display: flex;
    transition: 0.5s;
}

header nav ul li a hover {
    background: rgb(101, 194, 8);
    color: aliceblue;
}

header nav ul span {
    width: 24px;
    height: 24px;
    background: aliceblue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7px;

}

header nav ul li a:hover span {
    background: chocolate;
    color: aliceblue;
}

header .text h1 {
    font-size: 72px;
    color: rgb(22, 197, 52);
    text-transform: uppercase;
    margin-top: 20px;
}

header .text p {
    font-size: 18px;
    color: red;
    margin-top: 30px;

}

/* ************************************************* */
/* header end */

.section-burger {
    background: black;
    padding-top: 50px;
    padding-bottom: 102px;
}

.section-burger ul {
    display: flex;

}

.section-burger ul a {
    display: flex;
    justify-content: space-between;
    color: #7a7a7a;
    margin-right: 46px;
    transition: 0.5s;
}

.section-burger ul a:hover {
    color: #60bc17;
}

.block-burger{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 32px;
}

.block-text img{
    width: 100%;
}
.block-text h2{
    color: #60bc17;
    font-size: 24px;
    margin-top: 34px;
}
.block-text p{
   font-size: 14px;
   color: #fff;
   margin-top: 17px;
}
.block-text{
    margin-left: 25px;
    
}